.spinner {
    border: 6px solid #00000000;
    border-top: 6px solid #4d9f8c;
    border-bottom: 6px solid #4d9f8c;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
